In [1]:
import sys
print(sys.executable)
# Import libraries
import pandas as pd
from sqlalchemy import create_engine

/home/pc/.cache/pypoetry/virtualenvs/homework-CSGAq_-6-py3.12/bin/python

In [2]:
# Set up connection to PostgreSQL
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [3]:
# 11월 parquet 파일 읽기
df = pd.read_parquet("green_tripdata_2025-11.parquet")

In [4]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [5]:
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'cbd_congestion_fee'],
      dtype='object')

In [6]:
df.to_sql(
    "green_tripdata",
    con=engine,
    if_exists="replace",  # 테이블 새로 생성
    index=False
)

912

In [9]:
df = pd.read_parquet("green_tripdata_2025-11.parquet")

df.to_sql(
    "green_tripdata",
    con=engine,
    if_exists="replace",
    index=False
)

912

In [10]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql://root:root@localhost:5432/ny_taxi"
)

# zones CSV 읽기
zones = pd.read_csv("taxi_zone_lookup.csv")

# 컬럼 확인 (선택)
zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [11]:
zones.to_sql(
    "zones",
    con=engine,
    if_exists="replace",
    index=False
)

265